    <h3 class="center-align">Edit Supplier <%= selectedSupplier.name %></h3>
    <% if (typeof message != "undefined") { %>
      <div class="error-message"><%= message %></div>
    <% } %>
    <div class='row'>
    <form action="/suppliers/<%= selectedSupplier.id %>/edit" method="POST">
      <div class='row'>
        <div class="input-field col s6">
      <label for="supplier"data-error="wrong" data-success="right">Supplier</label>
      <input type="text" name="supplier" id="supplier" value="<%= selectedSupplier.name %>" class="validate" required>
    </div>
    <div class="input-field col s6">
      <label for="companyName"data-error="wrong" data-success="right">Company</label>
      <input type="text" name="companyName" id="companyName" value="<%= selectedSupplier.companyName %>" class="validate" required>
    </div>
    <div class="input-field col s6">
      <label for="phoneNumber"data-error="wrong" data-success="right">PhoneNumber</label>
      <input type="tel" name="phoneNumber" id="phoneNumber" value="<%= selectedSupplier.phoneNumber %>" class="validate" required>
    </div>
    <div class="input-field col s6">
      <label for="email"data-error="wrong" data-success="right">Email</label >
      <input type="email" name="email" id="email" value="<%= selectedSupplier.email %>" class="validate" required>
      </div>
      <a class="waves-effect waves-light red btn btn-margin right" href="/suppliers">Cancel</a>
      <button class="waves-effect waves-light btn btn-margin right blue-grey">Update</button>
    </form>
  </div>
