<header>
<a class="back-link" href="/dashboard">Back to dashboard</a>
<h1>List of Suppliers</h1>
<a class="btn-floating right btn-large waves-effect waves-light red btn modal-trigger" href='#modal-suppliers-new'><i class="material-icons">add</i></a>
</header>
<hr>

<table class="bordered responsive-table">
  <thead>
    <tr>
      <th>Supplier Name</th>
      <th>Company Name</th>
      <th>Phone Number</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% suppliers.forEach(supplier => { %>
      <tr>
        <td class='supplier-name' data-supplier-name="<%= supplier.name %>"><%= supplier.name %></td>
        <td class='supplier-company-name' data-supplier-company-name="<%= supplier.companyName %>"><%= supplier.companyName %></td>
        <td class='supplier-phone-number' data-supplier-phone-number="<%= supplier.phoneNumber %>"><%= supplier.phoneNumber %></td>
        <td class='supplier-email' data-supplier-email="<%= supplier.email %>"><%= supplier.email %></td>

        <td><a class="waves-effect waves-light btn blue-grey" href="/suppliers/<%= supplier._id%>/edit">
          <i class="material-icons">edit</i>
        </a></td>
        <td><a class="waves-effect waves-light btn red" href="/suppliers/<%= supplier._id%>/delete">
          <i class="material-icons">delete</i>
        </a></td>
      </tr>
      <% }) %>
  </tbody>
</table>
<%- include("partials/new.ejs") %>
