<h1>List of Suppliers</h1>
<!-- Modal Trigger -->
<button data-target="modal-suppliers-new" class="btn modal-trigger">New supplier</button>
<%- include("partials/new.ejs") %>

<a class="waves-effect waves-light btn" href="/dashboard">Back to dashboard</a>

<hr>
<table>
  <thead>
    <tr>
      <th>Supplier Name</th>
      <th>Company Name</th>
      <th>Phone Number</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% suppliers.forEach(supplier => { %>
      <tr>
        <td><%= supplier.name %></td>
        <td><%= supplier.companyName %></td>
        <td><%= supplier.phoneNumber %></td>
        <td><%= supplier.email %></td>
        <td><a class="waves-effect waves-light btn" href="/suppliers/<%= supplier._id%>/edit">Edit</a></td>
        <td><a class="waves-effect waves-light btn red" href="/suppliers/<%= supplier._id%>/delete">Delete</a></td>
      </tr>
      <% }) %>
  </tbody>
</table>
