<!-- Modal Structure -->
<div id="modal-users-edit" class="modal">
  <div class="modal-content">

    <h1>Edit User <%= user.username %></h1>
    <% if (typeof message != "undefined") { %>
      <div class="error-message">
        <%= message %>
      </div>
    <% } %>
    <div class='row'>
      <form action="/users/edit" method="POST" class='col s12'>
        <div class='row'>
          <div class="input-field col s6">
            <label for="user" data-error="wrong" data-success="right">User</label>
            <input type="text" name="user" id="user" value="<%= user.username %>" class="validate" required>
          </div>
          <div class="input-field col s6">
            <label for="firstName" data-error="wrong" data-success="right">First Name</label>
            <input type="text" name="firstName" id="firstName" value="<%=user.firstName  %>" class="validate" required>
          </div>
          <div class="input-field col s6">
            <label for="lastName" data-error="wrong" data-success="right">Last Name</label>
            <input type="text" name="lastName" id="lastName" value="<%= user.lastName %>" class="validate" required>
          </div>
          <div class="input-field col s6">
            <label for="password" data-error="wrong" data-success="right">Password</label>
            <input disabled value="<%= user.password %>" id="disabled" type="password" class="validate" name="password" required>
          </div>
          <div class="input-field col s6">
            <label for="email" data-error="wrong" data-success="right">Email</label>
            <input type="email" name="email" id="email" value="<%= user.email %>" class="validate" required>
          </div>
          <div class="input-field col s6">
            <select name="rol" id="rol" class="validate" required>
              <% if ((user.rol) === 'admin' ) { %>
              <option value="admin" selected>Admin</option>
              <option value="employee">Employee</option>
              <% }else{ %>
                <option value="admin">Admin</option>
                <option value="employee" selected>Employee</option>
              <%  } %>
            </select>
          </div>
          <div class="modal-footer">
            <button class="waves-effect waves-light btn" type='submit'>
              UPDATE
              <i class="material-icons right">send</i>
            </button>
            <a class="waves-effect waves-light red btn" href="/users">CANCEL</a>
          </div>
        </div>
      </form>
    </div>

<!-- wraper modal -->
  </div>
</div>
