<h1>Edit User <%= user.username %></h1>
<% if (typeof message != "undefined") { %>
  <div class="error-message">
    <%= message %>
  </div>
  <% } %>
  <p><%= user.id %></p>
<form action="/users/<%= user.id %>/edit" method="POST">
      <label for="user">User</label>
      <input type="text" name="user" id="user" value="<%= user.username %>">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" value="<%= user.password %>">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" value="<%= user.email %>">
      <select name="rol" id="rol">
    <option value="admin">Admin</option>
    <option value="employee">Employee</option>
  </select>
      <button class="waves-effect waves-light btn">Update</button>
      <a class="waves-effect waves-light btn red" href="/users">Cancel</a>
</form>