<h1>Edit User <%= user.username %></h1>
<% if (typeof message != "undefined") { %>
  <div class="error-message">
    <%= message %>
  </div>
  <% } %>
<form action="/users/<%= selectedUser.id %>/edit" method="POST">
      <label for="user">User</label>
      <input type="text" name="user" id="user" value="<%= selectedUser.username %>">
      <label for="firstName">First Name</label>
      <input type="text" name="firstName" id="firstName" value="<%= selectedUser.firstName %>">
      <label for="lastName">Last Name</label>
      <input type="text" name="lastName" id="lastName" value="<%= selectedUser.lastName %>">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" value="<%= selectedUser.password %>">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" value="<%= selectedUser.email %>">
      <select name="rol" id="rol">
    <option value="admin">Admin</option>
    <option value="employee">Employee</option>
  </select>
      <button class="waves-effect waves-light btn blue-grey">Update</button>
      <a class="waves-effect waves-light red btn" href="/users">Cancel</a>
</form>