<h1>List of users</h1>
<!-- Modal Trigger -->
<button data-target="modal-users-new" class="btn modal-trigger">New User</button>
<%- include("partials/new.ejs") %>

<a class="waves-effect waves-light btn back" href="/dashboard">Back to dashboard</a>
<hr>
<table>
  <thead>
    <tr>
      <th>User Name</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Rol</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(user => { %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.firstName %></td>
        <td><%= user.lastName %></td>
        <td><%= user.email %></td>
        <td><%= user.rol %></td>

        <!-- <td><a class="waves-effect waves-light btn" href="/users/<%= user._id%>/edit">Edit</a></td> -->

        <!-- Modal Trigger -->
        <td><button data-target="modal-users-edit" class="btn modal-trigger">Edit</button></td>
        <td><a class="waves-effect waves-light btn red" href="/users/<%= user._id%>/delete">Delete</a></td>
      </tr>
      <% }) %>

<%- include("partials/edit.ejs") %>

  </tbody>
</table>
