<h1>List of users</h1>
<!-- Modal Trigger -->
<button data-target="modal-users-new" class="waves-effect waves-light blue-grey btn modal-trigger">New User</button>

<a class="waves-effect waves-light btn blue-grey" href="/dashboard">Back to dashboard</a>
<hr>
<table>
  <thead>
    <tr>
      <th>User Name</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Rol</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(user => { %>
      <tr>
        <td class='user-name' data-user-name="<%= user.username %>"><%= user.username %></td>
        <td class= 'first-name' data-first-name="<%= user.firstName %>"><%= user.firstName %></td>
        <td class= 'last-name' data-last-name="<%= user.lastName %>"><%= user.lastName %></td>
        <td class= 'user-email' data-user-email="<%= user.email %>"><%= user.email %></td>
        <td class= 'user-rol' data-user-rol="<%= user.rol %>"><%= user.rol %></td>

        <!-- <td><a class="waves-effect waves-light btn" href="/users/<%= user._id%>/edit">Edit</a></td> -->

        <!-- Modal Trigger -->
        <td><button data-target="modal-users-edit" class="btn modal-trigger edit-button" data-user-id="<%= user._id %>" >Edit</button></td>
        <td><a class="waves-effect waves-light btn red" href="/users/<%= user._id%>/delete">Delete</a></td>
      </tr>
      <% }) %>

<%- include("partials/edit.ejs") %>

  </tbody>
</table>
<%- include("partials/new.ejs") %>
