<h2>Edit product <%= selectedProduct.name%></h2>
<% if (typeof message != undefined) { %>
  <div class="error-message">
    <%= message %>
  </div>
<% } %>
<div class="row">
    <form action="/products/<%= selectedProduct.id %>/edit" method="POST">
      <div class="row">
        <div class="input-field col s6">
            <label class="white-text" for="name">Name</label>
            <input class="validate" type="text" name="name" id="name" value="<%= selectedProduct.name %>" required>
        </div>
        <div class="input-field col s6">
            <label class="white-text" for="Price">Price</label>
            <input class="validate" type="text" name="price" id="price" placeholder="$0.00" value="<%= selectedProduct.price %>" required>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
            <label class="white-text" for="description">Description</label>
            <input class="validate" type="text" name="description" id="description" value="<%= selectedProduct.description %>" required>
        </div>
        <div class="input-field col s12">
            <label class="white-text" for="supplier">Supplier</label>
            <input disabled type="text" name="supplier" id="supplier" value="<%= selectedProduct.supplier[0].name %>">
        </div>
      </div>
    
      <a class="btn-margin waves-effect waves-light btn red right" href="/products">Cancel</a>
      <button class="btn-margin waves-effect waves-light btn blue-grey right">Update</button>
    </form>
</div>