<h2>List of products</h2>
<a class="waves-effect waves-light btn blue-grey" href="/products/new">New product</a>
<a class="waves-effect waves-light btn blue-grey" href="/dashboard">Back to dashboard</a>
<hr>
<table>
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Supplier</th>
    </tr>
  </thead>
  <tbody>
    <% if(typeof products !== 'undefined'){ %> 
      <% products.forEach(product => { %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.price %>€</td>
          <td><%= product.description %></td>
          <td><%= product.supplier[0].name %></td>
          <td><a class="waves-effect waves-light btn blue-grey" href="/products/<%= product._id%>/edit">Update</a></td>
          <td><a class="waves-effect waves-light btn red" href="/products/<%= product._id%>/delete">Delete</a></td>
        </tr>
        <% }) %>
    <% } %>       
  </tbody>
</table>