<h2>List of products</h2>
<!-- Modal Trigger -->
<!-- <button data-target="modal-products-new" class="waves-effect waves-light blue-grey btn modal-trigger">New User</button> -->
<a class="waves-effect waves-light btn blue-grey" href="/dashboard">Back to dashboard</a>
<a class="btn-floating btn-large waves-effect waves-light red btn modal-trigger add-button-product" href='#modal-products-new'><i class="material-icons">add</i></a>
<hr>
<table>
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Supplier</th>
    </tr>
  </thead>
  <tbody>
    <% products.forEach(product => { %>
      <tr class='product-id' data-user-id="<%= product._id %>">
        <td class='product-name' data-product-name="<%= product.username %>"><%= product.name %></td>
        <td class='product-price' data-product-price="<%= product.price %>"><%= product.price %>€</td>
        <td class='product-description' data-product-description="<%= product.description %>"><%= product.description %></td>
        <td class='product-supplier-name' data-product-supplier-name="<%= product.supplier[0].name %>"><%= product.supplier[0].name %></td>

        <!-- Modal Trigger -->
        <td><a class="waves-effect waves-light btn blue-grey" href="/products/<%= product._id%>/edit">Update</a></td>
        <td><a class="waves-effect waves-light btn red" href="/products/<%= product._id%>/delete">Delete</a></td>
      </tr>
    <% }) %>
  </tbody>
</table>
<!-- Modals Includes-->
<%- include("partials/new.ejs") %>
